* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
}

.menu {
    display: flex;
    height: 111px;
    padding: 43px 37px 44px 31px;
    box-sizing: border-box;
    gap: 93px;
}

.menu ul {
    display: flex;
    list-style-type: none;
    gap: 56px;
    margin-top: 12px;

}

.menu nav {
    flex: 1;
}

.menu ul li a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
}

.menu-icon-mobile {
    display: none;
}

.button-group {
    display: flex;
    gap: 28px;
}

.btn-sign {
    border: none;
    background: while;
    background: none;
    font-weight: bold;
    font-size: 16px;
    display: flex;
    justify-content: end;
    align-items: anchor-center;
    width: 100%;
    height: 45px;
}

.btn-secondary {
    height: 50px;
    width: 297px;
    background: #485AFF;
    color: white;
    font-weight: bold;
    border: none;
    font-size: 17px;
    border-radius: 10px;
    padding: 24px;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: anchor-center;
}

.banner {
    margin: 0 auto;
    margin-top: 27px;
    display: flex;
    justify-content: space-around;
    padding: 0 10rem;
}

.banner-left {
    flex: 1;
    display: flex;
    align-items: anchor-center;
}

.content-banner {
    width: 481px;
    /* height: 22rem; */
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.content-banner h1 {
    font-size: 58px;
}

.group-form {
    background: #FAFAFA;
    height: 56px;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #A1A1AA;
    padding: 1rem;
    box-sizing: border-box;
}

#email {
    height: 56%;
    border: none;
    background: no-repeat;
    padding: 6px;
    outline: none;
    flex: 1;
}


.group-form button {
    height: 41px;
    width: 172px;
    background: black;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    box-sizing: border-box;
}

.content-botton-left {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.item-content h1 {
    font-size: 42px;
}

.item-content {
    display: flex;
    gap: 12px;
    width: 12rem;
    align-items: anchor-center;
}

.item-content p {
    text-align: justify;
    margin-top: 10px;
}

.banner-right img {
    margin-top: 8rem;
}

.list {
    margin: 0 auto;
    margin-top: 27px;
    display: grid;
    padding: 0 10rem;
    grid-template-columns: auto auto auto auto;
}

.item-product {
    border: 1px solid #E5E9EB;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 7px;
}

.item-product p {
    margin-left: 24px;
    font-size: 14px;
}

.item-product span {
    font-size: 18px;
    margin-left: 21px;
    color: black;
    font-weight: bold;
    margin-bottom: 24px;
}

footer {
    margin: 0 auto;
    margin-top: 91px;
    display: flex;
    padding: 0 10rem;
    justify-content: space-between;
    margin-bottom: 12px;
}

.footer-left {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.footer-left h1 {
    font-size: 24px;
}

.footer-left ul {
    gap: 16px;
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

.footer-left ul li a {
    color: #3D3D3D;
    text-decoration: none;
    font-size: 18px;
}

.list-menu-mobile {
    display: none;
}

.footer-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-right-top {
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.footer-right-top p {
    color: black;
    font-size: 24px;
    font-weight: bold;
    text-align: end;
}

.footer-right-top span {
    color: black;
    font-size: 42px;
    font-weight: bold;
}

.footer-right-bottom {
    display: flex;
    justify-content: flex-end;
    gap: 24px;
}

.footer-right-bottom img {
    width: 100px;
    width: 31px;
    height: 33px;
}


/* .menu {
    justify-content: space-between;
}

.menu-icon-mobile {
    display: inline;
    padding-top: 12px;
}

.content-banner {
    width: 100%;
}

.content-banner h1 {
    font-size: 31px;
}

.list {
    margin: 0 auto;
    margin-top: 27px;
    display: grid;
    padding: 0;
    grid-template-columns: auto;
}

footer {
    margin: 0 auto;
    margin-top: 91px;
    display: flex;
    flex-direction: column;
    padding: 12px;
    width: 100%;
    justify-content: space-between;
}

.menu nav,
.button-group {
    display: none;
}

.item-content p {
    text-align: justify;
    margin-top: 0px;
}

.banner-right img {
    width: 21rem;
    margin-top: 58px;
}

.footer-right-top p {
    color: black;
    font-size: 16px;
    font-weight: bold;
    text-align: start;
}

.footer-right-bottom {
    display: flex;
    justify-content: flex-start;
    gap: 24px;
    margin-top: 12px;
} */

ul li a:hover {
    color: red;
    font-weight: bold;
}